workflows/github_workflows_backup--github.json
{
  "createdAt": "2025-06-20T15:54:52.198Z",
  "updatedAt": "2025-06-20T18:12:16.682Z",
  "id": "deI3HbMGt6dIZr4O",
  "name": "github_workflows_backup",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "2c7d7c0f-4935-4c1b-a4f6-89ab08bf9dba",
      "name": "Schedule Triggerz",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -140,
        140
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "e30ef963-1c94-43d9-92a2-aae6acd39b6d",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        340,
        140
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "KOqGA1i2EbNkTR2k",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "29c22721-a120-411b-96ba-94ba1ca1c348",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        180,
        140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "RustedVikingOG",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_docker_stack",
          "mode": "list",
          "cachedResultName": "n8n_docker_stack",
          "cachedResultUrl": "https://github.com/RustedVikingOG/n8n_docker_stack"
        },
        "filePath": "=/workflows"
      },
      "id": "22b6e01c-cb0e-4c0e-a684-fc0982bab4df",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        20,
        140
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "uJglpW9ievZkAsDT",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "RustedVikingOG",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_docker_stack",
          "mode": "list",
          "cachedResultName": "n8n_docker_stack",
          "cachedResultUrl": "https://github.com/RustedVikingOG/n8n_docker_stack"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "a5a2b6fe-bd94-4ad6-8fa9-dc20dcbd047b",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        1140,
        60
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "uJglpW9ievZkAsDT",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "RustedVikingOG",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_docker_stack",
          "mode": "list",
          "cachedResultName": "n8n_docker_stack",
          "cachedResultUrl": "https://github.com/RustedVikingOG/n8n_docker_stack"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "45524310-d1a7-4093-a568-69b37b498ddf",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        1140,
        220
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "uJglpW9ievZkAsDT",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        }
      },
      "id": "1fb9e6a1-c728-4a98-bcdf-cd9d40ede527",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        980,
        140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "3ec71463-6188-4637-af29-3d8559955475",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        500,
        140
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "606338b4-326f-48f7-bac3-8c249ccc843f",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        660,
        140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 300,
        "color": 5
      },
      "id": "2fd1228b-afce-41fe-8842-97f14ac58b55",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "b66a1913-a5bb-4e87-95b7-31262e74933b",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        820,
        140
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 460,
        "color": 3
      },
      "id": "73d43be3-9a91-40fb-ad93-6443842e8718",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 460,
        "color": 4
      },
      "id": "cd2b195a-2fe6-45d6-b480-6dd19dda9cf4",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        0
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8d1b4fe7-d924-4dc0-b4d7-684b37166ebe",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-06-20T15:54:28.386Z",
      "updatedAt": "2025-06-20T15:54:28.386Z",
      "id": "oiAlopPbS90SR7YK",
      "name": "github"
    }
  ]
}